DATABASE_URL="postgresql://user:password@host:6543/postgres?pgbouncer=true"

DIRECT_URL="postgresql://user:password@host:5432/postgres"

BETTER_AUTH_SECRET="change-me-in-production-use-openssl-rand-base64-32"

BETTER_AUTH_URL="http://localhost:3000"

PLUGGY_CLIENT_ID=""

PLUGGY_CLIENT_SECRET=""

PLUGGY_API_KEY=""
